@model ScottybonsMVC.Models.ViewModels.Customer.ChangePasswordModel
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using ScottybonsMVC.Controllers
@{

    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row change-password-container" id="register">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 change-password-title">
                    <h2>@Resources.Scottybons.ScottybonsDataStrings.Change_Password_Title</h2>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class=" col-sm-8 change-password-note text-center">
                    <h4>@Resources.Scottybons.ScottybonsDataStrings.Change_Password_SubTitle</h4>
                    <h4>@Resources.Scottybons.ScottybonsDataStrings.Change_Password_SubTitle2</h4>
                    
                </div>
                <div class="col-sm-2"></div>
            </div>
            <div class="row text-center">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <span class="success-message">
                        @ViewBag.Status
                    </span>
                </div>                
                <div class="col-sm-2"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    @using (Html.BeginUmbracoForm<ProfileController>("ChangePassword", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group password_note text-center">
                            <span>@Resources.Scottybons.ScottybonsDataStrings.Change_Password_Note</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.NewPasswordLabel, new { @class = "control-label col-sm-4 col-xs-12 " })
                            <div class="col-xs-12  col-sm-8">
                                @Html.PasswordFor(m => Model.NewPassword, new { @class = "form-control password-input-old", value = @ViewBag.NewPassword })
                                @Html.ValidationMessageFor(m => Model.NewPassword, null, new { @class = "validation-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => Model.ConfirmNewPasswordLabel, new { @class = "control-label col-sm-4 col-xs-12 " })
                            <div class="col-xs-12 col-sm-8">
                                @Html.PasswordFor(m => Model.ConfirmNewPassword, new { @class = "form-control password-input-new", value = ViewBag.ConfirmNewPassword })
                                @Html.ValidationMessageFor(m => Model.ConfirmNewPassword, null, new { @class = "validation-control" })
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-sm-12 text-right">
                                <input type="submit" class=" btn animated fadeInUp reset outline change-password-btn" value="@Resources.Scottybons.ScottybonsDataStrings.Change_Password_Change_Button" id="changePassword" name="Change" />
                            </div>                            
                        </div>
                    }
                </div>
                <div class="col-sm-2"></div>
            </div>
            
        </div>
    </div>
}