@model ScottybonsMVC.Models.ViewModels.Customer.ResetPasswordViewModel
@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using ScottybonsMVC.Controllers
@{
    
   // Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
        var Email = ViewBag.Email;
}
@Html.RenderJsHere()

<section id="register">
    <div class="container">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            @using (Html.BeginUmbracoForm<ProfileController>("ResetPassword", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                <div class="col-sm-12">
             <div class="row">
                        <h2>@Resources.Scottybons.ScottybonsDataStrings.ForgotPwdViewModel_ResetYourPassword_Reset_Your_Password_ </h2>
                        <h5>@Resources.Scottybons.ScottybonsDataStrings.ResetPwdViewModel_EmailandPassword_Email_and_Password_</h5>
                    </div>
                    <div class="line"></div>
                    <div class="row" style="margin-top:8px;">
                        <div class="form-group">
                            @Html.ValidationSummary(true, null, new { @class = "validation-control" })
                        </div>
                        <div class="form-group">
                            
                            @Html.LabelFor(m => m.Email, new { @class = "control-label col-sm-4 col-xs-12" })
                            <div class="col-xs-12 col-sm-8">                               
                                
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @Value = ViewBag.Email , @readonly=true})
                              
                            </div>
                        </div>
                        <div class="form-group">
                           <!-- <label for="inputEmail" class="control-label col-sm-4 col-xs-12">Enter your New Password</label> -->
                            @Html.LabelFor(m => m.Password, new { @class = "control-label col-sm-4 col-xs-12" })
                            <div class="col-xs-12 col-sm-8">
                                @Html.PasswordFor(m => Model.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "validation-control" })
                            </div>
                        </div>

                        <div class="form-group">
                          
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-sm-4 col-xs-12" })
                            <div class="col-xs-12 col-sm-8">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "validation-control" })
                            </div>
                        </div>
                     
                        <div class="form-group">
                            <div class=" col-sm-12 text-right">
                                <input type="submit" class="animated fadeInUp button_intro outline" value="@Resources.Scottybons.ScottybonsDataStrings.ButtonSubmit" id="login-btn" />
                            </div>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div style="margin-top:30px;"></div>
                </div>
            }
        </div>
    </div>
</section>
